{{ define "main" }}
<div class="inner-container content-padding">
    {{ range .Paginator.Pages }}
        {{ if .Title }}
            {{ if .Params.summaryCover }}
            <a href="{{ .Permalink }}">
                <img class="cover-image" src="{{ .Params.summaryCover }}" alt="{{ .Title }}" loading="lazy">
            </a>
            {{ end }}
            <h2>
                <a class="color-title" href="{{ .Permalink }}">{{ .Title}}</a>
            </h2>
            {{ partial "postdata.html" . }}
            <p>{{ .Summary}}<p>
            <div style="text-align: right;">
                <a href="{{ .Permalink }}">{{ i18n "read_more" }}</a>
            </div>
            <hr>
        {{ end }}
    {{ end }}
    {{ partial "paginator.html" .Paginator }}
</div>
{{ end }}