
$color-background: #ffffff;
$content-width: 760px;
$brand-font-size: 3rem;
$font-size-footer: 0.8rem;
$color-link: #d64933;
$color-footer-background:#231f20;
$color-footer-foreground:#f8e9e9;
$color-header-background:oldlace;
$color-header-foreground: #000000;
$color-brand-name: $color-header-foreground;
$color-brand-logo-fill: $color-link;

html {
  background-color: $color-background;
  font-family: "Lato", "sans-serif";
  font-size: 18px;  
}
html,body{
  height: 100%;
}
a{
  text-decoration: none;
  color: $color-link;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: $color-link;
    visibility: hidden;
    transform: scaleX(0);
    transition: .1s ease-out;
  }
  &:hover:before{
    visibility: visible;
    transform: scaleX(1);
  }
}
hr{
    margin-bottom: 4.5rem;
    opacity: 0.4;
}
thead {
	border-bottom: 2px solid #000000;
	color: #000000;
}
th, td {
	padding: 0.1rem 0.5rem;
}

#header {
  background-color: $color-header-background;
}
#inner-header {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
#brand-logo {
  height: $brand-font-size + 0.5rem;
  width: $brand-font-size + 0.5rem;
  margin-right: 0.5rem;
  fill: $color-brand-logo-fill;
}
#brand-name {
  margin-right: auto;
  font-weight: bold;
  font-size: $brand-font-size;
  color: $color-brand-name;
}
#footer{
  font-size: $font-size-footer;
  background-color: $color-footer-background;
  color: $color-footer-foreground;
}
#header-nav {
  display: flex;
  a {
    color: black;
    margin: 1rem;
  }
}
#content{
  flex-grow: 1;
}
.content-padding {
  padding: 4rem 0;  
}
.container-padding{
  padding: 2rem 0.5rem;
  flex-shrink: 0;
}
.inner-container{
  max-width: $content-width;
  margin: 0 auto;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.post-data{
  line-height: 0;
  font-size: 0.7rem;
  font-weight: 100;
}
.post-tag{
  margin: 0 0.3rem;
  text-decoration: none;
  &:hover:before{
    height: 1px;
  }
}
.icon{
  width: 0.9rem;
  height: 0.9rem;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
