$content-width: 760px;
$font-size-base: 19px;
$font-size-brand: 2rem;
$font-size-footer: 0.8rem;
$color-background: #f2f0e1;
$color-post-title: #b13e41;
$color-header-background: #3d3d3b;
$color-header-foreground: $color-background;
$color-footer-background: $color-header-background;
$color-footer-foreground: fade-out($color-header-foreground, 0.4);
$color-brand-name: $color-header-foreground;
$color-link: $color-post-title;
$color-thead-bottom-border: $color-link;


/******************************/
/*********** COMMON ***********/
/******************************/
html {
  background-color: $color-background;
  font-family: "Lato", "sans-serif";
  font-size: $font-size-base;
}
html,
body {
  height: 100%;
  color: $color-header-background;
}
a {
  transition: color 0.2s;
  transition: text-shadow 0.2s;
  text-decoration: none;
  color: $color-link;
  &:hover {
    text-shadow: 0 0 8px $color-post-title;
    color: darken($color-header-background, 10);
  }
}
blockquote:not(.twitter-tweet):not(.instagram-media) {
  position: relative;
  opacity: 0.5;
  margin: 3rem;
  padding-left: 1em;
  font-size: 1.5rem;
  font-weight: 100;
  &::before {
    position: absolute;
    top: -2rem;
    left: -2rem;
    font-family: sans-serif;
    font-size: 6rem;
    content: "\201C";
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  margin-top: 3rem;
}
h2 {
  margin-top: 2rem;
}
h3 {
  margin-top: 1rem;
}
h4 {
  margin-top: 0.5rem;
}

hr {
  opacity: 0.4;
  margin-bottom: 4.5rem;
}
table {
  border: 1px solid #16596b;
  thead {
    background-color: $color-header-background;
    color: $color-header-foreground;
  }
  th,
  td {
    padding: 0.1rem 0.5rem;
  }
}
.clickable:hover {
  cursor: pointer;
  opacity: 1;
}
.container-padding {
  padding: 0.5rem;
  flex-shrink: 0;
}
.content-padding {
  padding: 2rem 0;
}
.cover-image{
  max-width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  max-width: $content-width;
  &-center {
    justify-content: center;
  }
  &-centerv {
    align-items: center;
  }
  &-spacebtw {
    justify-content: space-between;
  }
}
.font-bold {
  font-weight: bold;
}
.inner-container {
  margin: 0 auto;
  max-width: $content-width;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/******************************/
/*********** HEADER ***********/
/******************************/
#header {
  background-color: $color-header-background;
}
#inner-header {
  display: flex;
  position: relative;  
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#brand-logo {
  margin-right: 0.5rem;
  width: $font-size-brand + 0.5rem;
  height: $font-size-brand + 0.5rem;
}
#brand-name {
  flex-shrink: 0;
  padding-right: 1rem;
  color: $color-brand-name;
  font-size: $font-size-brand;
  font-weight: bold;
}
#header-nav {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  a {
    position: relative;
    flex-shrink: 0;
    transition: opacity 0.2s;
    padding: 0.5rem;
    color: $color-header-foreground;
    opacity: 0.8;
    font-size: 0.9rem;
    font-weight: 700;
    &:hover {
      text-shadow: unset;
      opacity: 1;
    }
  }
}
#tbsearch {
  position: absolute;
  top: 0;
  right: 5%;
  transition: top 0.2s;
  transition-timing-function: ease-out;
  z-index: -1;
  padding: 0.2rem;
  width: 90%;
  font-size: 1rem;
}
#more {
  &::after {
    opacity: 0.8;
    border-top: 4px solid $color-header-foreground;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
  }
}
.header-icon {
  margin: 0.4rem;
  width: 1.2rem;
  height: 1.2rem;
  fill: $color-header-foreground;
  opacity: 0.8;
}
.submenu {
  &-closed {
    display: none;
  }
  &-open {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background-color: $color-header-background;
  }
}

/******************************/
/********** CONTENT ***********/
/******************************/
#content {
  flex-grow: 1;
}
.color-title {
  color: $color-post-title;
}
.highlight {
  pre {
    padding: 0.5rem;
    overflow: auto;
  }
  code {
    font-size: 0.8rem;
  }
}
.icon {
  opacity: 0.6;
  margin: 0 0.2rem;
  width: 0.8rem;
  height: 0.8rem;
}
.post {
  &-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1rem;
    font-size: 0.7rem;
    font-weight: 100;
  }
  &-tag {
    margin: 0 0.3rem;
    text-decoration: none;
    &:hover:before {
      height: 1px;
    }
  }
}

/******************************/
/************* 404 ************/
/******************************/
.page404 {
  &-container {
    justify-content: center;
    background-color: $color-header-background;
    height: 100%;
    color: $color-header-foreground;
  }
  &-number {
    font-size: 6rem;
  }
  &-message {
    font-size: 2rem;
  }
  &-button {
    border: none;
    border-radius: 5px;
    background-color: $color-header-foreground;
    padding: 0.5rem;
    color: $color-header-background;
    font-size: 1.2rem;
  }
}

/******************************/
/*********** FOOTER ***********/
/******************************/
#footer {
  background-color: $color-footer-background;
  color: $color-footer-foreground;
  font-size: $font-size-footer;
  a {
    color: white;
    text-decoration: underline;
  }
}
.social-icon {
  margin: 0.4rem;
  width: 2.2rem;
  height: 2.2rem;
  fill: $color-footer-foreground;
}

/*@media only screen and (max-width: 450px) {
  .container-padding{
    padding: 1rem;
  }
  #inner-header{
    flex-direction: column;
    justify-content: unset;
  }
  #brand-logo{
    width: ($font-size-brand + 0.5rem)*0.7;
    height: ($font-size-brand + 0.5rem)*0.7;
  }
  #brand-name{
    margin-right: unset;
    font-size: $font-size-brand * 0.7;
  }
}

@media only screen and (max-width: 430px) {
  #header-nav{
    font-size: 0.8rem;
    a{
      margin: 0.3rem 0.5rem;
    }
  }
  #form-search{
    margin-left: auto;
  }
}*/
