$content-width: 760px;
$font-size-base: 18px;
$font-size-brand: 3rem;
$font-size-footer: 0.8rem;
$color-background: #ffffff;
$color-link: #d64933;
$color-post-title: #16596b;
$color-thead-bottom-border: $color-link;
$color-header-background: #16596b;
$color-header-foreground: white;
$color-footer-background: $color-header-background;
$color-footer-foreground: fade-out($color-header-foreground, 0.4);
$color-brand-name: $color-header-foreground;
$color-brand-logo-fill: $color-header-foreground;

html {
  background-color: $color-background;
  font-family: "Lato", "sans-serif";
  font-size: $font-size-base;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: $color-link;
  transition: color 0.2s;
  transition: text-shadow 0.2s;
  &:hover {
    $color-shadow: invert($color-link);
    text-shadow: 0 0 8px $color-shadow;
    color: darken($color-link, 10);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  margin-top: 3rem;
}
h2 {
  margin-top: 2rem;
}
h3 {
  margin-top: 1rem;
}
h4 {
  margin-top: 0.5rem;
}

hr {
  margin-bottom: 4.5rem;
  opacity: 0.4;
}
table{
  border: 1px solid #16596b;
  thead {
    color: $color-header-foreground;
    background-color: $color-header-background;
  }
  th,td {
    padding: 0.1rem 0.5rem;
  }
}
#header {
  background-color: $color-header-background;
}
#inner-header {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
#brand-logo {
  height: $font-size-brand + 0.5rem;
  width: $font-size-brand + 0.5rem;
  margin-right: 0.5rem;
  fill: $color-brand-logo-fill;
}
#brand-name {
  margin-right: auto;
  font-weight: bold;
  font-size: $font-size-brand;
  color: $color-brand-name;
}
#footer {
  font-size: $font-size-footer;
  background-color: $color-footer-background;
  color: $color-footer-foreground;
}
#header-nav {
  display: flex;
  align-items: center;
  a {
    color: $color-header-foreground;
    font-weight: 700;
    margin: 1rem;
    position:relative;
    transition: color 0.2s;    
    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $color-header-foreground;
      opacity: 0;
      transition: width 0.3s;
    }
    &:hover{
      text-shadow: unset;
      &::before{
        width: 100%;
        opacity: 1;
      }
    }
  }
}
#content {
  flex-grow: 1;
}
#tbsearch{
  opacity: 0;
  width: 0;
  transition: width .2s, opacity 0.2s;
  transition-timing-function: ease-out;
  margin-right: 0;  
}
.header-icon{
  fill: $color-header-foreground;
  stroke: $color-header-foreground;
  stroke-width: 1px;
  width: 2rem;
  height: 2rem;
  margin: 0.4rem;
  padding: 0.4rem;
}
.clickable:hover{
  cursor: pointer;
}
.content-padding {
  padding: 4rem 0;
}
.container-padding {
  padding: 2rem 0.5rem;
  flex-shrink: 0;
}
.inner-container {
  max-width: $content-width;
  margin: 0 auto;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post{
  &-data {
    line-height: 0;
    font-size: 0.7rem;
    font-weight: 100;
  }
  &-tag {
    margin: 0 0.3rem;
    text-decoration: none;
    &:hover:before {
      height: 1px;
    }
  }
}
.color-title {
  color: $color-post-title;
}
.icon {
  width: 0.9rem;
  height: 0.9rem;
  opacity: 0.6;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.highlight {
  pre {
    padding: 0.5rem;
    overflow: auto;
  }
  code {
    font-size: 0.8rem;
  }
}
.page404{
  &-container{
  height: 100%;
  justify-content: center;
  background-color: $color-header-background;
  color: $color-header-foreground;
  }
  &-number{
    font-size: 6rem;
  }
  &-message{
    font-size: 2rem;
  }
  &-button{
    background-color: $color-header-foreground;
    font-size: 1.2rem;
    color: $color-header-background;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
  }
}
blockquote:not(.twitter-tweet):not(.instagram-media) {
  position: relative;
  opacity: 0.5;
  margin: 3rem;
  padding-left: 1em;
  font-size: 1.5rem;
  font-weight: 100;
  &::before{
    position: absolute;
    top: -2rem;
    left: -2rem;
    font-family: sans-serif;
    font-size: 6rem;
    content: "\201C";
  }
}
