<header id="header" class="container-padding">
    <div id="inner-header" class="inner-container">
        {{ if .Site.Params.brand.logo}}
        <svg id="brand-logo"><use href="{{ .Site.Params.brand.logo }}"></use></svg>
        {{ end }}
        {{ if .Site.Params.brand.name }}
        <span id="brand-name">{{ .Site.Params.brand.name }}</span>
        {{ end }}
        <nav id="header-nav">              
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}            
        </nav>
        <form id="form-search" action="/search/" method="GET">
            <input type="text" name="term" id="tbsearch">
            <svg id="btsearch" class="header-icon clickable">
                <use href="/imgs/jj-icons.svg#search"></use>
            </svg>
        </form>
    </div>
</header>