<head>
    <meta charset="utf-8">
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta http-equiv="content-language" content="{{ .Site.LanguageCode }}">
    <meta name="description"
        content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Site.GoogleAnalytics }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
    {{ $css := resources.Get "css/sanitize.css" }}
    {{ $style := $css | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    {{ $css = resources.Get "css/styles.scss" }}
    {{ $style = $css | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    
    {{ partial "katex.html" . }}
</head>