<header id="header" class="container-padding">
    <div id="inner-header" class="inner-container">
        {{ if .Site.Params.brand.logo}}
            <a href="{{ .Site.BaseURL }}">
                <img id="brand-logo" src="{{ .Site.Params.brand.logo | relURL }}" alt="logo">
            </a>
        {{ end }}
        {{ if .Site.Params.brand.name }}
            <a href="{{ .Site.BaseURL }}">
                <span id="brand-name">{{ .Site.Params.brand.name }}</span>
            </a>
        {{ end }}
        <nav id="header-nav">
            {{ range .Site.Menus.main }}
                <a href="{{ .URL }}">{{ i18n .Name | default .Name}}</a>            
            {{ end }}
            <a id="more" class="clickable">More</a>
            <div id="submenu" class="submenu-closed"></div>
        </nav>
        {{ if .Site.Params.search.active }}
            <form id="form-search" action="{{ "/search/" | relURL }}" method="GET">            
                <svg id="btsearch" class="header-icon clickable">
                    <use href="{{ "/imgs/jj-icons.svg#search" | relURL }}"></use>
                </svg>
            </form>
            <input form="form-search" type="text" name="term" id="tbsearch" placeholder="Search...">
            <label for="tbsearch" style="opacity: 0;">Search</label>
        {{ end }}
    </div>
</header>