<div class="share-container">
    <span class="share-legend">Share: </span>
    {{ $page := . }}
    {{ range .Site.Params.share }}
    {{ if eq . "twitter" }}
    <a rel="noopener"
        href="https://twitter.com/share?ref_src=twsrc%5Etfw&text={{ $page.Title }}&hashtags={{ if $page.Params.tags }}{{ delimit $page.Params.tags "," }}{{ end }}"
        target="_blank">
        <svg class="share-icon">
            <use href="{{ (printf "%s%s" "/imgs/jj-icons.svg#" . ) | relURL }}"></use>
        </svg>
    </a>
    {{ end }}
    {{ if eq . "facebook" }}
    <a rel="noopener" href="https://www.facebook.com/sharer/sharer.php?u={{ $page.Permalink }}" target="_blank">
        <svg class="share-icon">
            <use href="{{ (printf "%s%s" "/imgs/jj-icons.svg#" . ) | relURL }}"></use>
        </svg>
    </a>
    {{ end }}
    {{ if eq . "linkedin" }}
    <a rel="noopener"
        href="http://www.linkedin.com/shareArticle?url={{ $page.Permalink }}&title={{ $page.Title }}&summary={{ $page.Summary }}&source={{ $page.Site.BaseURL }}"
        target="_blank">
        <svg class="share-icon">
            <use href="{{ (printf "%s%s" "/imgs/jj-icons.svg#" . ) | relURL }}"></use>
        </svg>
    </a>
    {{ end }}
    {{ if eq . "reddit" }}
    <a rel="noopener" href="https://www.reddit.com/submit?url={{ $page.Permalink }}&title={{ $page.Title }}"
        target="_blank">
        <svg class="share-icon">
            <use href="{{ (printf "%s%s" "/imgs/jj-icons.svg#" . ) | relURL }}"></use>
        </svg>
    </a>
    {{ end }}
    {{ end }}
</div>